#google_translate_element {
    position: fixed;
    top: 40rem;
    left: 4.5rem;
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }