.image-uploader {
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .uploadButton {
        height: 2.5rem;
        width: 10rem;
        border: none;
        border-radius: 0.3rem;
        font-size: 1rem;
        background-color: #00ffff;
        color: black;
        cursor: pointer;
        transition: transform 0.2 ease;

        &:hover {
            transform: scale(1.1);
        }
    }



  }
  
  .dropzone {
    border: 2px dashed #ccc;
    border-radius: 4px;
    color: white;
    font-size: 2rem;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
  
    &:hover {
      border-color: #aaa;
    }
  
    p {
      margin: 0;
    }
  }
  
  .image-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    img {
      margin: 10px;
      max-width: 200px;
      max-height: 200px;
      object-fit: cover;
    }
  }
  