@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --PrimaryColor: #00FFFF;
  --SecondaryColor: #002540;
  --Search_text_color: #787878;
  --WhiteColor: #FFFFFF;
  --HeartColor: #FF6363;
}

.main_container {
  margin-top: 2.813rem;
  font-family: "Inter", sans-serif;
  width: 74%;
}
.main_container .search_container {
  display: flex;
  gap: 2.25rem;
  width: 100%;
}
.main_container .search_container .search_bar {
  color: var(--WhiteColor);
  width: 100%;
  align-self: center;
}
.main_container .search_container .search_bar .search {
  width: 100%;
  color: var(--WhiteColor);
  box-shadow: 0px 0px 5px rgba(79, 209, 197, 0.64);
  max-width: 47rem;
  background-color: #002540;
  height: 2.25rem;
  outline: none;
  border: none;
  border-bottom: 3px solid var(--PrimaryColor);
  box-sizing: border-box;
  z-index: 1;
  font-size: 0.938rem;
  padding: 0.375rem 0.688rem 0.375rem 1.75rem;
}
.main_container .search_container .search_bar .search_light_icon {
  margin-left: -25px;
  z-index: 1;
  top: 5px;
  cursor: pointer;
}
.main_container .search_container .filter {
  cursor: pointer;
  color: var(--WhiteColor);
  min-width: 2.875rem;
  max-height: 2.25rem;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(79, 209, 197, 0.64);
  border-radius: 8px;
  align-items: center;
  background-color: var(--SecondaryColor);
  border-bottom: 3px solid var(--PrimaryColor);
  transition: 0.2s;
}
.main_container .search_container .filter .filter_icon {
  z-index: 100;
  position: absolute;
  transition: 0.8s;
}
.main_container .search_container .filter::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #00FFFF;
  border-radius: 8px;
  z-index: -1;
  transition: 0.8s;
}
.main_container .search_container .filter:hover {
  color: var(--SecondaryColor);
  border-bottom: 3px solid #0094FF;
  font-size: 23px;
}
.main_container .search_container .filter:hover::before {
  height: 100%;
  z-index: 1;
  color: var(--SecondaryColor);
}
.main_container .search_container .filter:active {
  box-shadow: 0px 0px 15px rgba(79, 209, 197, 0.64);
  transform: translateY(4px);
}
.main_container .search_container .language_filter {
  display: flex;
  align-self: center;
  color: white;
  padding: 0.45rem 0.45rem 0;
  box-shadow: 0px 0px 5px rgba(79, 209, 197, 0.64);
  border-radius: 8px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s;
  display: inline-block;
}
.main_container .search_container .language_filter:hover {
  background: var(--PrimaryColor);
}
.main_container .search_container .language_filter:hover .dropdown_content {
  display: block;
}
.main_container .search_container .language_filter .dropdown_content {
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  margin-top: 0.2rem;
  box-shadow: 0px 0px 5px rgba(79, 209, 197, 0.64);
  display: none;
}
.main_container .search_container .language_filter .dropdown_content a {
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  display: block;
  border-bottom: 2px solid var(--PrimaryColor);
  border-right: 2px solid var(--PrimaryColor);
  color: white;
  padding: 12px 16px;
  background-color: var(--SecondaryColor);
  border-radius: 5px;
  transition: background-color 0.2s;
}
.main_container .search_container .language_filter .dropdown_content a:hover {
  background-color: var(--PrimaryColor);
  color: black;
  border-radius: 5px;
  border-bottom: 2px solid #00192C;
  border-right: 2px solid #00192C;
}
.main_container .search_container .language_filter:active {
  box-shadow: 0px 0px 15px rgba(79, 209, 197, 0.64);
  transform: translateY(4px);
}
.main_container .search_container .wrap .button {
  min-width: 7.625rem;
  min-height: 2.063rem;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgb(129, 230, 217) 0%, rgb(79, 209, 197) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 5px 5px 15px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
.main_container .search_container .wrap .button:before {
  content: "";
  border-radius: 1000px;
  min-width: 8.375rem;
  min-height: 2.813rem;
  border: 4px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.main_container .search_container .wrap .button:hover, .main_container .search_container .wrap .button:focus {
  color: #313133;
  transform: translateY(-6px);
}
.main_container .search_container .wrap .button:hover:before, .main_container .search_container .wrap .button:focus:before {
  opacity: 1;
}
.main_container .search_container .wrap .button:hover:after, .main_container .search_container .wrap .button:focus:after {
  animation: ring 1.5s infinite;
}
.main_container .search_container .wrap .button:after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 10.625rem;
    height: 10.625rem;
    opacity: 0;
  }
}
.main_container .product_container {
  display: grid;
  padding-top: 2.625rem;
  grid-template-columns: repeat(3, 1fr);
  color: var(--WhiteColor);
  gap: 2.625rem;
}
.main_container .product_container .single_product {
  height: -moz-fit-content;
  height: fit-content;
  row-gap: 10px;
  background: var(--SecondaryColor);
  align-items: center;
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
  border-bottom: 6px solid var(--PrimaryColor);
}
.main_container .product_container .single_product .productImg {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.main_container .product_container .single_product .productImg img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  transition: 2s ease;
}
.main_container .product_container .single_product .productInfo {
  font-family: "Inter", sans-serif;
  padding: 1.313rem 1rem 0;
}
.main_container .product_container .single_product .productInfo .productName {
  font-weight: bold;
  font-size: 1.25rem;
}
.main_container .product_container .single_product .productInfo .productTitle {
  font-size: 0.625rem;
  color: var(--Search_text_color);
}
.main_container .product_container .single_product .productInfo .price_div {
  display: flex;
  justify-content: space-between;
  padding: 1.438rem 0 1.313rem;
}
.main_container .product_container .single_product .productInfo .price_div span {
  display: flex;
  gap: 4px;
  align-items: center;
}
.main_container .product_container .single_product .productInfo .price_div span .location {
  font-size: 0.625rem;
}
.main_container .product_container .single_product .productInfo .price_div span .location_icon {
  font-size: 1rem;
}
.main_container .product_container .single_product .productInfo .price_div span .price_text {
  margin-left: -5px;
}
.main_container .product_container .single_product .productInfo .price_div .price {
  font-size: 1.25rem;
  font-weight: bold;
}/*# sourceMappingURL=Product.css.map */