@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --PrimaryColor: #00FFFF;
    --SecondaryColor: #002540;
    --Search_text_color: #787878;
    --WhiteColor: #FFFFFF;
    --HeartColor: #FF6363;
}

.main_container {
    // margin-top: 2.813rem;
    font-family: "Inter", sans-serif;
    width: 74%; //Adjust Width for products relative to sidebar

}

