@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --PrimaryColor: #00FFFF;
    --SecondaryColor: #002540;
    --Search_text_color: #787878;
    --WhiteColor: #FFFFFF;
    --HeartColor: #FF6363;
}

.main_container {
    // margin-top: 2.813rem;
    font-family: "Inter", sans-serif;
    width: 74%;
    margin-top: 5rem; //Adjust Width for products relative to sidebar

    .search_result {
        color: white;
        padding-top: 2rem;

        .button {
            height: 2rem;
            width: 8rem;
            border: none;
            margin-left: 2rem;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            background-color: #00FFFF;
            color: black;
        }
    }

    .none {
        display: none;
    }

}

