@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.product_page_container {
  margin: 0 3rem;
  color: white;
  padding-top: 3rem;
}
.product_page_container .product {
  display: flex;
  gap: 2rem;
  font-family: "Inter", sans-serif;
}
.product_page_container .product .product_image img {
  height: 22.5rem;
  width: 22.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.product_page_container .product .product_info {
  padding: 2rem 2.625rem;
  background: #002540;
  position: relative;
  width: 100%;
  border-bottom: 5px solid #00ffff;
}
.product_page_container .product .product_info .heading {
  display: flex;
  justify-content: space-between;
}
.product_page_container .product .product_info .heading .name {
  font-size: 2.125rem;
  font-weight: 700;
}
.product_page_container .product .product_info .heading .location {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}
.product_page_container .product .product_info .title {
  font-size: 1.125rem;
  font-weight: 300;
  font-family: Calibri;
}
.product_page_container .product .product_info .price {
  display: flex;
  font-size: 3.313rem;
  padding: 0.8rem 0;
  font-weight: 700;
  align-items: center;
  margin-left: -0.6rem;
}
.product_page_container .product .product_info .discription {
  font-weight: 1.125rem;
  font-weight: 300;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.375rem;
  font-family: Calibri;
  max-width: 92%;
}
.product_page_container .product .product_info .buttons {
  display: flex;
  gap: 2rem;
  margin-top: 1.7rem;
}
.product_page_container .product .product_info .buttons button {
  padding: 0.5rem 1.5rem;
  font-size: 0.938rem;
  font-weight: 700;
  border: none;
  outline: none;
}
.product_page_container .product .product_info .buttons .buy {
  background: #00ffff;
  border-bottom: 4px solid #0094FF;
}
.product_page_container .product .product_info .buttons .wishlist {
  color: #00ffff;
  background: none;
  border: 1px solid #00ffff;
  transition: 0.2s ease;
}
.product_page_container .product .product_info .buttons .wishlist:hover {
  color: black;
  background: #00ffff;
}
.product_page_container .seller_info {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  display: flex;
  font-style: italic;
  gap: 2rem;
  padding-top: 2rem;
}
.product_page_container .seller_info .seller_detail {
  min-width: 22.5rem;
  height: 18rem;
  background: #002540;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #00ffff;
}
.product_page_container .seller_info .seller_detail .seller_image {
  padding: 2.25rem 0 0.75rem;
}
.product_page_container .seller_info .seller_detail .seller_image img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product_page_container .seller_info .seller_detail .post {
  font-size: 1.188rem;
  margin-top: -1rem;
}
.product_page_container .seller_info .seller_detail .seller {
  font-size: 2.125rem;
  font-weight: 600;
}
.product_page_container .seller_info .seller_detail .verification {
  font-size: 0.938rem;
}
.product_page_container .seller_info .map {
  width: 100%;
  background: #002540;
  border-bottom: 5px solid #00ffff;
}/*# sourceMappingURL=ProductPage.css.map */