@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.parent_div {
    padding-top: 5rem;
}

.product_page_container {
    margin: 0 3rem;
    color: white;
    padding-top: 3rem;
    
    .product {
        display: flex;
        gap: 2rem;
        font-family: "Inter", sans-serif;
    
    
        .product_image {
            img {
                height: 22.5rem;
                width: 22.5rem;
                object-fit: fit;
                background: white;
                overflow: hidden;
            }
        }
    
        .product_info {
            padding: 2rem 2.625rem;
            background: #002540;
            position: relative;
            width: 68%;
            border-bottom: 5px solid #00ffff;
    
    
            .heading {
                display: flex;
                justify-content: space-between;
    
                .name {
                    font-size: 2.125rem;
                    font-weight: 700;
                }
    
                .logo {
                    display: flex;
                    justify-content: space-between;
                    // width: 50%;

                    .toggle {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2.5rem;
                        height: 2.5rem;
                        background: white;
                        border-radius: 50%;
                        color: #333;
                        cursor: pointer;
                        font-size: 0.2rem;
                        box-shadow: 0  3px 4px rgba(0,0,0,0.15);
                        transition: 1.25s;
                    }

                    .toggle.active {
                        transform: rotate(360deg);
                        box-shadow: 0 6px 8px rgba(0,0,0,0.15), 0 0 0 2px #333, 0 0 0 8px #fff;                       
                    }

                    .active {
                        scale: 1;              
                        background: #fff;
                        display: flex;
                        justify-content: center;
                        border-radius: 50%;
                        box-shadow: 0 3px 4px rgba(0,0,0,0.15);
                        transition: 0.7s;
                        transition-delay: calc(0.05s * var(--i));

                        // transform: rotate(calc(360deg/-8 * var(--i)));

                        .social_icon {
                            height: 3rem;
                            width: 3rem;  
                        }



                    }

                    li {
                        position: absolute;
                        top: 1.7rem;
                        right: 23rem;
                        list-style: none;
                        transition: 0.5s;
                        // transform: rotate(calc(360deg/8 * var(--i)));
                        transform: translateX(calc(4rem * var(--i)));
                        transform-origin: 21rem;
                        scale: 0;
                        // transition-delay: calc(0.05s * var(--i));

                        .social_icon {
                            position: relative;
                            display: flex;
                            // transform: rotate(calc(360deg/-8 * var(--i)));
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            color: var(--clr);
                            box-shadow: 0 3px 4px rgba(0,0,0,0.15);
                            transition: 0.5s;

                        }

                    }                  
                    
                    li:hover {

                        .social_icon {
                            font-size: 2rem;
                            box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
                        }
                    }

                }
            }
    
            .title {
                font-size: 1.125rem;
                font-weight: 300;
                font-family: Calibri;
            }
    
            .price {
                display: flex;
                font-size: 3.313rem;
                padding: 0.8rem 0;
                font-weight: 700;
                align-items: center;
                margin-left: -0.6rem;
            }
    
            .discription {
                font-weight: 1.125rem;
                font-weight: 300;
                width: fit-content;
                line-height: 1.375rem;
                font-family: Calibri;
                max-width: 92%;
            }
    
            .footer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .buttons {
                    display: flex;
                    gap: 2rem;
                    margin-top: 1.7rem;
                    // padding-top: 1rem;
                    // width: fit-content;
                    // height: 2rem;
        
                    button {
        
                        padding: 0.5rem 1.5rem;
                        font-size: 0.938rem;
                        font-weight: 700;
                        border: none;
                        outline: none;
                    }
        
                    .buy {
                        background: #00ffff;
                        border-bottom: 4px solid #0094FF;
                    }
        
                    .wishlist {
                        color: #00ffff;
                        background: none;
                        border: 1px solid #00ffff;
                        transition: 0.2s ease;
    
                        &:hover {
                            color: black;
                            background: #00ffff;
                        }
                    }
        
                }

                .date {
                    position: absolute;
                    bottom: 1rem;
                    left: 2.625rem;
                }
    
                .location {
                    position: absolute;
                    bottom: 1rem;
                    right: 2rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    font-size: 1rem;
                }
            }
        }
    }

    .seller_info {
        font-family: "Inter", sans-serif;
        font-weight: 300;
        display: flex;
        font-style: italic;
        gap: 2rem;
        padding-top: 2rem;

        .seller_detail {
            min-width: 22.5rem;
            height: 18rem;
            background: #002540;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-bottom: 5px solid #00ffff;

            .seller_image {
                padding: 2.25rem 0 0.75rem;

                img {
                    width: 6.25rem;
                    height: 6.25rem;
                    border-radius: 100%;
                    object-fit: cover;
                }

            }

            .post {
                font-size: 1.188rem;
                margin-top: -1rem;
            }

            .seller {
                font-size: 2.125rem;
                font-weight: 600;
            }

            .verification {
                font-size: 0.938rem;
            }

        }

        .map {
            width: 100%;
            background: #002540;
            border-bottom: 5px solid #00ffff;
        }

    }

    

}