.app{
    margin-left: 2.75rem;
    margin-right: 2.75rem;
}

.grid_parent {
    display: grid;
    padding-top: 2.625rem;
    grid-template-columns: repeat(3,1fr);
    color: var(--WhiteColor);
    gap: 2.625rem;
}

.cl-userButtonPopoverFooter{
    display: none;
}

.cl-internal-b3fm6y{
    display: none;
}