@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --PrimaryColor: #00FFFF;
  --gradientColor: linear-gradient(to right, #54b3d6, #54b3d6 50%, #ffffff 50%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 1.7rem;

    .logo {
        height: 3.25rem;
        width: 11.5rem;
        cursor: pointer;
    }

    .text_container{
        display: flex;
        gap: 3.875rem;
        margin-top: -1.4rem;
        align-items: center;
        color: var(--whiteColor);
        font-size: 0.938rem;
        font-style: normal;
        font-family: "Inter", sans-serif;

        .text {
            background-clip: text;
            background-image: var(--gradientColor);
            background-size: 200% 100%;
            background-position: -100%;
            display: inline-block;
            padding: 5px 0;
            font-weight: 500;
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
          }
          
          .text:before{
            content: '';
            background: #54b3d6;
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.3s ease-in-out;
          }
          
          .text:hover {
           background-position: 0;
          }
          
          .text:hover::before{
            width: 100%;
          }

        .button {
            text-align: center;
            letter-spacing: 2px;
            position: relative;
            color: var(--whiteColor);
            transition-duration: 0.4s;
            overflow: hidden;
            box-shadow: 0 3px 9px #376ba0;
            width: 7.625rem;
            height: 2.063rem;
            border-radius: 1.25rem;
            border: 2px solid var(--PrimaryColor);
            background: none;
            cursor: pointer;
        }

        .button:hover {
            background: var(--whiteColor);
            box-shadow: 0px 2px 10px 5px #1abc9c;
            color: var(--blackColor);
            letter-spacing: 0px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
          }
          
          .button:after {
            content: "";
            background: var(--PrimaryColor);
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s
          }
          
          .button:active:after {
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: 0s
          }
          
          .button:focus { outline:0; }
        
        
    }
}
